
.jumbotron {
    
    margin-top: 50px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;

}

.btn-leer {
    width: 100%;
    border-radius: 0px;

}


.tab-content{
    padding-top: 10px;
}

/* STYLE FOOTER https://codepen.io/NamiqNamaz/pen/QZYyEq */
footer, header {
    padding: 10px 20px 0 20px;
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-bottom: 0px;
    margin-top: 10px;
}

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }

footer a {
    color: white;
  }

 